body {
    background-color: #111;
    color: #9f9f9f;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.95;
    overflow: hidden;
    position: relative;
}




.whitespace {
    white-space: pre-wrap;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.loader {
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    padding: 1px;
}

.loader:before {
    content: '';
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.loader .loaderBar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 0;
    animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }

    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }

    90% {
        right: 0%;
        left: 75%;
        width: 25%;
    }

    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}


.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(34, 197, 94, var(--tw-bg-opacity)), #f1f1f1;
}

.scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 10%;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(34, 197, 94, var(--tw-bg-opacity));
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(250, 204, 21, var(--tw-bg-opacity));
}

.scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgb(250, 204, 21, var(--tw-bg-opacity));
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(34, 197, 94, var(--tw-bg-opacity)), #f1f1f1;
}

@media (max-width: 768px) {
    .container::-webkit-scrollbar {
        width: 8px;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .container::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 4px;
    }
}

.testimonials {
    font-family: 'Alex Brush', cursive;

}